table , td, th{
    border: 1px solid black;
    background-color: antiquewhite;
}
.tabel{
    gap: 15px;
}
.add-form{
    width: 300px;
}

.add-form label {
    padding: 40px 0 0 0;
}

.add-form button{
    margin: 40px 0 0 0;
}